<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <Header>
        <partial name="_Navbar" />
        @RenderSection("Header", false)
    </Header>
    <div class="container">
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <partial name="_Footer" />
    </footer>

    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>